.btn {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid rgba(240, 246, 252, 0.1);
    color: var(--fg-text);
    border-radius: 6px;
    background-color: var(--btn-bg);
    padding: 0.5rem 1rem;
    transition: all 0.25s;
    text-transform: capitalize;
}

.btn:hover {
    border-color: rgba(240, 246, 252, 0.5);
}
